<link rel="stylesheet" href="~/css/mediaQ.css">
<link rel="stylesheet" href="~/css/index2.css">
<link rel="stylesheet" href="~/css/about.css">
<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script>
    $(document).ready(function(){
    });
</script>
<div class="parallax">
    <div class="content">
        <h3>Developmenet Team</h3>
        <div class="tri-split">
            <div class="dev_info"> 
                <img class="game_img" src="~/images/door_screenshot.JPG">
            </div>
            <div class="dev_info">
                <img class="game_img" src="~/images/door_screenshot.JPG">
            </div>
        </div>
        <div class="tri-split">
            <div class="dev_info">
                <img class="game_img" src="~/images/door_screenshot.JPG">
            </div>
            <div class="dev_info">
                <img class="game_img" src="~/images/door_screenshot.JPG">
            </div>
        </div>
        <div class="tri-split">
            <div class="dev_info">
                <img class="game_img" src="~/images/door_screenshot.JPG">
            </div>
            <div class="dev_info">
                <img class="game_img" src="~/images/door_screenshot.JPG">
        </div>
        <div class="tri-split">
            <div class="dev_info">
                <img class="game_img" src="~/images/door_screenshot.JPG">
            </div>
        </div>
    </div>
</div>
<div class="parallax"></div>