<link rel="stylesheet" href="~/css/mediaQ.css">
<link rel="stylesheet" href="~/css/index2.css">
<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script>
    $(document).ready(function(){
        $(".game_img").click(function(){
            $("#large1").empty();
            $("#large1").css({"display":"inline-block"})
            var img_url = $(this).attr("src");
            $("#large1").append("<img id='dynamic_img' src='" + img_url + "'>");
            $("#dynamic_img").css({"margin":"1.5%", "width":"97%", "height":"97%"});
        });

        $("#large1").click(function(){
            $(this).css({"display":"none"});
            $(this).empty();
            $("#close").click(function(){
                $("#large1").css({"display":"none"});
                $("#large1").empty();

            });
        });
        $("#newsletter").click(function(){
            $("#pop_up").css({"display":"inline-block"})
        });
        $("#close").click(function(){
            $("#pop_up").css({"display":"none"});
        });
        $('#newsletter').hover(function(){
            $(this).css({"box-shadow": " 2px 2px 2px black", "cursor":"pointer"});
        }, function(){
            $(this).css({"box-shadow": " none"});
        });
       

    });

</script>
<div class="parallax">
    <div class="content">
        <div class="left_side">
            <h2>Welcome to PAX West!</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UjxS9ciNlII" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p> B-team is a game about something and a description will be placed here under the trailer video in the future.</p>
            <div id="imgs">
                <img class="game_img" id="n1" src="~/images/door_screenshot.JPG">
                <img class="game_img" id="n2" src="~/images/elevatorwithdoor.JPG">
                <img class="game_img" id="n3" src="~/images/elevatorwithoutdoor.JPG">
                <img class="game_img" id="n4" src="~/images/door_screenshot.JPG">
                <img class="game_img" id="n5" src="~/images/elevatorwithoutdoor.JPG">
            </div>
            <p id="info"> Want to get email updates on Project Tempus?</p>
            <div id="newsletter"> 
                <h4><a>SIGN UP</a></h4>
            </div>
            <div id="pop_up">
                <button id="close">X</button>
                <form id="submit_email">
                   Email Address: <input type="text" name="email">
                   <button>Submit</button>
                </form>
            </div>
        </div>
        <div class="right_side">
            <div class="twitter"><a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div></div>
        </div>
</div>
<div class="parallax">
            <div class="content">
                <div class="left_side">
                    <img class="left_img" src="~/images/poster.JPG">
                </div>
                <div class="right_side" id="text">
                    <div class="text">
                        <h2> Welcome to Pax West in Seattle!</h2>
                        <h3> This is Project Tempus</h3>
                        <ul>
                            <li>a list of filler</li>
                            <li>a list of filler</li>
                            <li>a list of filler</li>
                            <li>a list of filler</li>
                            <li>a list of filler</li>
                        </ul>
                        <p> WOOOOOOOOOOOOOOOOOOds safdglkjsfbvaslkgbi vvjnjg ipibv pbnpibj bih  bb apiunie pi pib einbibb i ebnbb b etbenbpiet etiet ebiebnibfbidietihe thetbmtbpijr tbg ewgnrgijgne eb  eibje tern</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="large1">
        </div>
