<link rel="stylesheet" href="~/css/mediaQ.css">
<link rel="stylesheet" href="~/css/index2.css">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/stylesheet.css">
<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script>
    $(document).ready(function(){
    
    });

</script>
<div class="fullscreen-bg">
    <div id="title_video">
        <img src="~/images/main_logo.png" id="logo_video" alt="logo">
    </div>
    <video loop muted autoplay poster="~/images/logo.png" class="fullscreen-bg__video">
        <source src="~/videos/title_video.mp4" type="video/mp4">
    </video>
</div>
<div id="story">
    <div id="left_story">
        <h1> Story</h1>
        <p>The Sundry claims to use Project Tempus to conduct historical research. But that is a lie. They’re using the time travelling ship to change the past and control the future! Your team perished, revealing the conspiracy and only you survived. You have one jump left to find the ship before it comes online. The future is lost, take back the past.</p>
    </div>
        <img id="story_img" src="~/images/ship.png">
    
</div>
<div class="parallax">
    <div class="s1080p" >
        <div class="left">
            <h1>ABOUT PROJECT TEMPUS</h1>
            <p>The Sundry was built on the promise of history. While working for them its been discovered that that promise has been a false front. They have been changing history for their own greed. You and your team were terminated upon digging up their true goals. Having survived the termination you must now stop them at their own game.</p>
            <ul>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
            </ul>
            <ul>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
            </ul>
        </div>
        <div class="middle">
            <img id="poster"  src="~/images/poster.jpg" alt="Poster Image">
        </div>
        <div class="right">
            <h1>THE STORY</h1>
            <p>The Sundry claims to use Project Tempus to conduct historical research. But that is a lie. They’re using the time travelling ship to change the past and control the future! Your team perished, revealing the conspiracy and only you survived. You have one jump left to find the ship before it comes online. The future is lost, take back the past.</p>
            <img id="poster_main" src="~/images/UI_FULL_MENU_02.jpg" alt="menu screen">
            <p></p>
        </div>
    </div>
</div>
<div id="parent_parallax">
    <div class="parallax1">
        <div id="pax_text">
            <h1> Pax Prime 2018</h1>
            <ul>
                <li><p> Come visit our Booth at Pax in Seattle!</p></li>
                <li> <p> August 31st - September 3rd. </p></li>
            </ul>
        </div>
        <img id="poster_pax" src="~/images/paxwest.jpg" alt="Poster Image">
        <img class="Logo_i" src="~/images/PAX_West_logo.png" alt="Poster Image">
        <img class="Logo_i2" src="~/images/AIS.png" alt="Poster Image">
    </div>
    <div class="parallax2">
        <div id="media_text"> 
            <h1> Media </h1>
        </div>
       <img class="fancybox row1" id="media" src="~/images/project tempus still 1.jpg" />
       <img class="fancybox row1" id="media" src="~/images/project tempus still 2.jpg" />
       <img class="row2 fancybox" id="media" src="~/images/project tempus still 3.jpg" />
       <img class="row2 fancybox" id="media" src="~/images/project tempus still 4.jpg" />
       <img class="row3 fancybox" id="media" src="~/images/project tempus still 5.jpg" />
       <img class="row3 fancybox" id="media" src="~/images/project tempus still 6.jpg" />
    </div>
</div>
<div class="parallax3">
    <div class="s1080p" class="s1000p">
        <div class="profile2"><h1>ABOUT THE PROJECT TEMPUS TEAM</h1></div>
        <div class="profile1"><img class="Logo_imgs" src="~/images/logo.png"></div>
        <div class="profile">
            <img class="profile_img" src="~/images/ben_img.jpg">
            <h3>Ben Hawkins</h3>
            <p>Ben, an Environment Artist, designed the hangar scene in Project Tempus. He also worked on models, textures and lighting for the game. Prior to enrolling at the Art Institute, Ben spent over three years in the Army Infantry and served in Afghanistan where he received a Purple Heart for injuries sustained in combat. Ben enjoys art, cars, technology, snowboarding and many other hobbies. Ben will complete his degree in June 2019. Please contact him for further information at  Hawkinsb90@gmail.com and Artstation.com/ben_bh90.
</p>
        </div>
        <div class="profile">
            <img class="profile_img" src="~/images/cole_img.jpg">
            <p></p>
             <h3>Cole Viloria</h3>
             <p>Cole Viloria is an Environment Artist and has designed models for Project Tempus.  He is excited to work in the industry because of his passion for environmental storytelling found in gaming. He also has a passion for art, film, and animation. He will complete his degree in December 2018. To contact Cole, please email him at: cviloria001@gmail.com</p>
        </div>
        <div class="profile">
            <img class="profile_img" src="~/images/brad_img.jpg">
             <h3>Brad Buller</h3>
             <p>I’m a gameplay programmer by day, and a gamer by night. I was always told to do what I love,
so I decided to make video games. I knew it was the right decision when every time I played a
game, I paused and tried to think of how every mechanic worked inside the game, and how all
the pieces fit together to make something fun. I love working closely alongside artist to get the
best possible outcome for their artistic vision. I just want to make things that make people
happy. I’ve used languages like C#, C++, Java, and Sarcasm. I’m not sure if the last one is
useful, but I think all programmers use it. Contact Email
brad_buller@hotmail.com </p>
        </div>
        <div class="profile">
            <img class="profile_img" src="~/images/aj_img.jpeg">
             <h3>AJ Drake</h3>
            <p>Hello, my name is AJ.
My primary area of interest is particle effects for games, however, I am also interested in environment modeling and concept art. I have experience in Unreal Engine’s Cascade, Unity’s Shuriken, Maya, and Photoshop. If you have any questions, please contact me via linkedIn or Twitter.
linkedIn: www.linkedin.com/in/aj-drake
Twitter:  Evil_Skunk
Website: www.evilskunk.com
</p>
        </div>
        <div class="profile">
            <img class="profile_img" src="~/images/kyle_img.JPG">
             <h3>Kyle Ranallo</h3>
             <p>My background has been in Health and Wellness for the past 10 years. Throughout that time, I’ve always had fun creating and implementing fun ways for people to have fun while working out. With a passion for illustration and games, my life has taken the journey of discovering my love for creating engaging and beautiful human interaction. Currently, I have a zest for illustration, love for VFX and need for UI/UX Design. My brain, like my passions are always firing off what to do next to keep me constantly looking for the next best thing. Contact me at www.ktdworks.com and kyledtheoriginaldoll@gmail.com</p>
        </div>
        <div class="profile">
            <img class="profile_img" src="~/images/mike_img.jpg">
             <h3>Mike Kawski</h3>
             <p>Gamer turned artist. Living in the west coast. I was always captivated and inspired both the characters and the environment around them, so following that captivation I've become a 3D artist. I want to be able to create characters or environments that will captivate and inspire future gamers the same way it has me.</p>
        </div>
        <div class="profile">
            <img class="profile_img" src="~/images/justice_img.jpg">
             <h3>Justice Clark</h3>
             <p>Justice ‘Birdie’ Clark is Project Tempus character concept artist and modeler. Beginning her
path in the industry with media arts and animation she turned towards game art and design after
falling in love with the storytelling and world building of games. With a focus on character art
and development she hopes to pursue this in her career going forward. Outside of character
design Justice enjoys animation, expos, ATV’s and gaming in her free time. She plans to
complete her degree in early 2019.
For best contact please reach out to Justice at Birdieclark5033@gmail.com</p>
        </div>
    </div>
</div>




