<link rel="stylesheet" href="~/css/mediaQ.css">
<link rel="stylesheet" href="~/css/index2.css">
<link rel="stylesheet" href="~/css/index.css">
<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script>
    $(document).ready(function(){
    
    });

</script>
<div class="parallax">
    <div class="s1080p" >
        <div class="left">
            <h1>ABOUT PROJECT TEMPUS</h1>
            <p>The Sundry was built on the promise of history. While working for them its been discovered that that promise has been a false front. They have been changing history for their own greed. You and your team were terminated upon digging up their true goals. Having survived the termination you must now stop them at their own game.</p>
            <ul>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
            </ul>
            <ul>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
                <li>information</li>
            </ul>
        </div>
        <div class="middle">
            <img id="poster" class="fancybox" src="~/images/poster.jpg" alt="Poster Image">
        </div>
        <div class="right">
            <h1>THE STORY</h1>
            <p>The Sundry was built on the promise of history. While working for them its been discovered that that promise has been a false front. They have been changing history for their own greed. You and your team were terminated upon digging up their true goals. Having survived the termination you must now stop them at their own game.</p>
            <img id="poster_main" src="~/images/UI_FULL_MENU_02.jpg" alt="menu screen">
            <p>The Sundry was built on the promise of history. While working for them its been discovered that that promise has been a false front. They have been changing history for their own greed. You and your team were terminated upon digging up their true goals. Having survived the termination you must now stop them at their own game.</p>
        </div>
    </div>
</div>
<div id="parent_parallax">
    <div class="parallax1">
        <div id="pax_text">
            <h1> Pax Prime 2018</h1>
            <ul>
                <li><p> Come visit our Booth at Pax in Seattle!</p></li>
                <li> <p> August 31st - September 3rd. </p></li>
            </ul>
        </div>
        <img id="poster_pax" src="~/images/paxwest.jpg" alt="Poster Image">
        <img class="Logo_i" src="~/images/PAX_West_logo.png" alt="Poster Image">
        <img class="Logo_i2" src="~/images/AIS.png" alt="Poster Image">
    </div>
    <div class="parallax2">
       <h1> Media </h1>
       <img class="fancybox" id="media" class="row1" src="~/images/door_screenshot.JPG" />
       <img class="fancybox" id="media" class="row1" src="~/images/door_screenshot.JPG" />
       <img class="row2" class="fancybox" id="media" src="~/images/door_screenshot.JPG" />
       <img class="row2" class="fancybox" id="media" src="~/images/door_screenshot.JPG" />
       <img class="row3" class="fancybox" id="media" src="~/images/door_screenshot.JPG" />
       <img class="row3" class="fancybox" id="media" src="~/images/door_screenshot.JPG" />
    </div>
</div>
<div class="parallax3">
    <div class="s1080p">
        <div class="profile2"><h1>ABOUT THE PROJECT TEMPUS TEAM</h1></div>
        <div class="profile1"><img class="Logo_imgs" src="~/images/logo.png"></div>
        <div class="profile">
            <img class="profile_img" src="~/images/master.jpg">
            <h3>Ben Hawkins</h3>
            <p></p>
        </div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
    </div>
</div>