.parallax{
    background: url("../images/para1.png") no-repeat center;
    background-size: cover;
    height: 825px;
    margin: 0px;
    width: 100%;
    border-bottom: 5px solid rgb(158,89,24);
    border: 2px solid pink;
}
.parallax1{
    background: url("../images/para2.png") no-repeat center;
    height: 600px;
    background-size: cover;
    margin: 0px auto;
    width: 49.8%;
    display: inline-block;
    border: 1px solid yellow;
}
.parallax2{
    background: url("../images/para3.png") no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 600px;
    margin: 0px auto;
    width: 49.8%;
    display: inline-block;
    vertical-align: top;
    float: right;
    border: 1px solid yellow;
}
.parallax3{
    background: url("../images/para4.png") no-repeat center;
    background-size: cover;
    height: 700px;
    margin: 0px;
    width: 100%;
    border-top: 5px solid rgb(158,89,24);
}
#parent_parallax{
    background-color: rgb(158,89,24);
}

.left{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    padding-left: 0%;
    padding-bottom: 10%;
    border: 2px solid yellow;
}
.left ul{
    display: inline-block;
    padding-left: 17%;
    }
.left p{
    padding: 5%;
}
.parallax p{
    font-size: 100%;
}
h1{
    text-decoration: underline;
    text-decoration: Bold;
    margin-left: 3.5%;
}
.right{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    padding-left: 1%;
    border: 2px solid yellow;
    
}
.middle{
    width: 30%;
    display: inline-block;
    margin-top: 5%;
    border: 2px solid yellow;

}
#poster{
    width: 90%;
    max-height: 700px;
    max-width: 467px;
    border: 2px solid rgb(158,89,24);
}
#poster:hover{
    z-index: 998;
    width: 92%;
}
#poster_pax{
    width: 90%;
    max-height: 900px;
    max-width: 604px;
    border: 2px solid rgb(158,89,24);
    display: block;
    margin: 0px auto;
    margin-bottom: 10%;
}
#poster_main{
    width: 90%;
    max-height: 700px;
    max-width: 467px;
    border: 2px solid rgb(158,89,24);
    display: block;
    margin: 0px auto;
    margin-bottom: 10%;
}
#pax_text{
    margin: 0px auto;
    margin-left: 2%;
    font-size: 15px;
}
#pax_text h1{
    margin-left: 33%;
}
#pax_text ul #pax_text ul{
    display: inline;
}
.Logo_i{
    width: 125px;
    height: 55px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 5px;
    margin-top: -5%;
    margin-left: 20px;
}
.Logo_i2{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: right;
    margin-right: 20px;
    margin-top: -4%;
}
.s1080p{
    max-width: 1600px;
    width: 90%;
    padding-left: 10%;
    margin: 0px auto;
    border: 2px solid yellow;
    max-height: 825px;
}
#left_side h1{
    margin-top: 10%;
    text-align: center;
}
#right_side{
    width: 30%;
    display: inline-block;
}
.profile{
    border: 2px solid rgb(158,89,24);
    background-color: rgb(20, 19, 17);
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    word-wrap: break-word;

}
.profile1{
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;

}
.profile2{
    width: 500px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;

}
.Logo_imgs{
    width: 225px;
    height: 225px;
    display: inline;
    margin-top: 5%;
    vertical-align: top;
}
.profile_img{
    margin: 10px;
    width: 75px;
    height: 75px;
    display: inline-block;

}
.profile h3{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;

}
.profile p{
    display: inline-block;
    word-wrap: break-word;
    margin-top: -10px;
    padding: 10px;
}
#media{
    width: 200px;
    height: 175px;
    margin: 10px;
    margin-left: 30px;
    border: 2px solid rgb(158,89,24);
}

@media(max-width: 1500px){
    .right{
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
        padding-left: 1%;
        border: 2px solid yellow;
        min-width: 400px;
        
    }
    .middle{
        width: 30%;
        display: inline-block;
        margin-top: 5%;
        border: 2px solid yellow;
        display: none;
    
    }
    .left{
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
        padding-left: 0%;
        padding-bottom: 10%;
        border: 2px solid yellow;
        min-width: 400px;
    }
    .left ul{
        display: inline-block;
        padding-left: 17%;
    }
  
    .row3{
        display: none;
    }
}
@media(max-width: 1000px){
    .parallax{
        background: url("../images/para1.png") no-repeat center;
        background-size: cover;
        height: 1300px;
        margin: 0px;
        width: 100%;
        border-bottom: 5px solid rgb(158,89,24);
        border: 2px solid pink;
    }
    .right{
        width: 90%;
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
        padding-left: 1%;
        border: 2px solid yellow;
        min-width: 400px;
        
    }
    .left{
        width: 90%;
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
        padding-left: 0%;
        padding-bottom: 10%;
        border: 2px solid yellow;
        min-width: 400px;
    }
    .s1080p{
        max-width: 1700px;
        width: 90%;
        padding-left: 10%;
        margin: 0px auto;
        border: 2px solid yellow;
        max-height: 1650px;
    }
    .row2{
        display: none;
    }
    .parallax1{
        background: url("../images/para2.png") no-repeat center;
        height: 500px;
        background-size: cover;
        margin: 0px auto;
        width: 99%;
        display: inline-block;
    }
    .parallax2{
        background: url("../images/para3.png") no-repeat center;
        background-size: cover;
        /* background-attachment: fixed; */
        height: 500px;
        margin: 0px auto;
        width: 99%;
        display: inline-block;
        vertical-align: top;
        float: right;
    }
    #pax_text{
        margin: 0px auto;
        margin-left: 2%;
        font-size: 15px;
    }
    #pax_text h1{
        margin-left: 15%;
    }
    #parent_parallax{
        background-color: rgb(158,89,24);
        height: 1000px;
    }
    .parallax3{
        background: url("../images/para4.png") no-repeat center;
        background-size: cover;
        height: 2100px;
        margin: 0px;
        width: 100%;
        border-top: 5px solid rgb(158,89,24);
    }
    .s1000p{
        width: 500px;
        border: 2px solid green;
    }
}
@media(max-width: 640px){
    .parallax{
        background: url("../images/para1.png") no-repeat center;
        background-size: cover;
        height: 1300px;
        margin: 0px;
        width: 100%;
        border-bottom: 5px solid rgb(158,89,24);
        border: 2px solid pink;
    }
    .right{
        width: 90%;
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
        padding-left: 1%;
        border: 2px solid yellow;
        min-width: 300px;
        
    }
    .left{
        width: 90%;
        display: inline-block;
        vertical-align: top;
        margin-top: 8%;
        padding-bottom: 10%;
        border: 2px solid yellow;
        min-width: 300px;
    }
    .s1080p{
        max-width: 1700px;
        width: 90%;
        padding-left: 10%;
        margin: 0px auto;
        border: 2px solid yellow;
        max-height: 1650px;
    }#media{
        margin-left: 25%;
    }
    .profile1{
        margin-left: 20%;
    }
    .profile{
        margin-left: 0%;
    }
}
@media(max-width: 480px){
}

