/* media queries */
@media(max-width: 750px){
    #nav_minimized{
        display: inline-block;
        width: 100%;
    }
    #logo{
        float: left;
    }
    #navigation {
        display: none;
    }
}
